<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid border border-dark my-2 purp" style="font-weight: bold">
    <div class="row my-2 mx-2 border border-dark">
      
      <div class="col my-2" style="font-weight: bold">
        <h4> <%= form.label :title %> </h4>
        <%= form.text_field :title, style: "width: 100%" %>
      </div>
    </div>


    <div class="row my-4 mx-2 border border-dark">

      <div class="col my-2" style="font-weight: bold">
        <%= form.label :description %>
        <%= form.text_area :description, style: "width: 100%" %>
      </div>
    </div>    
  </div>

  <div class="container-fluid my-2">
    <div class="row">
      <div class="col">
      
        <%= form.submit "Publish Project", :class=> 'btn btn-large btn-primary btn-block mt-3' %>
      </div>
    </div>
    

  </div>
<% end %>
