<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sign up</title>

  </head>

  <body>
    <style>
      h1{
          text-align: center;
          font-size: 50px;

      }
      h2{
          text-align:center;
      }
      body{
          background-color:gray;
      }
      .purp{
        background: rgb(200,200,246, 0.5); 
        font-weight: bold;
      }
    </style>
      

    <!--Menu Bar-->
    <div class="container-fluid bg-dark pt-2 pb-2">
        <div class="row">
            <div class="col-1">
                <button type="button" class="btn btn-dark" onclick = "window.location.href='http://localhost:3000/';">Home</button>
            </div>
            <div class="col-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                        Account
                    </button>

                    <ul class="dropdown-menu">
                        
                      <li><a class="dropdown-item active" href="/users/sign_up">Sign Up</a></li>
                      <li><a class="dropdown-item" href="/users/sign_in">Sign in</a></li>
                        
                    </ul>
                </div>
                
            </div>
             <div class="col-1">
                <button type="button" class="btn btn-dark" onclick = "window.location.href='/projects';">Projects</button>
            </div>
        </div>
    </div>
<div class="container-fluid border border-dark my-2 gx-2 purp" style="font-weight: bold">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row my-2 mx-2 border border-dark">
    
      <div class="col my-2 mx-2" style="font-weight: bold">
        <%= render "users/shared/error_messages", resource: resource %>
      </div>
      <h2 style="text-decoration: underline">Sign up</h2>
    <div class="row my-4 mx-auto border border-secondary">
      <div class="col my-2" style="font-weight: bold">
      
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, style: "width: 100%", autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <div class="row my-4 mx-auto border border-secondary">
      <div class="col my-2" style="font-weight: bold">
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, style: "width: 100%", autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="row my-4 mx-auto border border-secondary">
      <div class="col my-2" style="font-weight: bold">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, style: "width: 100%", autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="row my-4 mx-auto border border-secondary">
      <div class="col my-2" style="font-weight: bold">
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-large btn-block btn-success" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
</div>
<%= render "users/shared/links" %>
